.Bthree{
    margin:0px;
    box-shadow: 0px 0px 10px 0px black;
}
.book-detail{
    height:600px;
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}