{% extends 'suser/index.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex flex-column  mb-4">
        <!-- <h1 class="h1 p-3 mb-0 shadow-lg" style="background-color:#7510f7;font-family:monospace;color:white;">LIBRARY</h1>-->
        <!--Book Row-->
        <div class="row my-5" id="book-row">
            <!--Single Book -->
            {% for i in books %}
            <div class="col-sm-6 col-md-3">
                <a href="{% url 'bookdetail' %}?bookid={{i.pk}}">
                    <div class="Bthree">
                        <div class="Btwo" style="background-color: #7510f7;">
                            <p class="bookName" style="font-weight:bold;font-size:1.2rem;padding-top:20px;color:white;">
                                {{ i.book_name }}
                            </p>
                            <p class="bookId" style="display:name">{{i.pk}}</p>
                            <div class="Bone">
                                <p style="margin:0;color:#204051;font-weight: 500;padding:0 2px;">
                                    {{ i.author }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                <button class="btn btn-dark shadow modal_btn" 
                data-toggle="modal" data-target="#exampleModal" 
                style="width:82%;margin-left:7.5%;">+Check Out</button>
                <!--Modal For Checkout Form -->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Check-Out Form
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action = "" method="post">
                                    {% csrf_token %}
                                   <div class="form-group">
                                        <label for="book_id">Book Id</label>
                                        <input type="text" value="" class="form-control bid" id="book_id" name="bookid"  placeholder="Book Id">
                                    </div>
                                    <div class="form-group">
                                        <label for="book_name">Book Name</label>
                                        <input type="text" class="form-control bname" id="book_name"
                                         name="bookname" value="" placeholder="Book Id">
                                    </div>
                                    <div class="form-group">
                                        <label for="book_return_date">Return Date</label>
                                        <input type="text" class="form-control" id="book_return_date" name="returndate" value="" placeholder="Book Id">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    const bookReturnDate = document.getElementById('book_return_date');
    const date = new Date();
    let todaysDate= date.getDate();
    bookReturnDate.value=todaysDate+7;
    const bookName = document.querySelectorAll('.bookName');
    const bookId = document.querySelectorAll('.bookId')
    const modal = document.querySelectorAll('.modal');
    const bid = document.querySelector('.bid');
    const bname=document.querySelector('.bname');
    const modalBtn = document.querySelectorAll('.modal_btn')
    // console.log(modal.length,bid.length,bookName[0].innerText)
    for(let i=0;i<modalBtn.length;i++){
        modalBtn[i].addEventListener('click',(e)=>{
            bid.value=bookId[i].innerHTML;
            bname.value=bookName[i].innerText;
         
        })
     

    }
    
</script>
<!-- /.container-fluid -->

{% endblock content %}