{% extends 'suser/index.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex flex-column  mb-4">
        <!-- <h1 class="h1 p-3 mb-0 shadow-lg" style="background-color:#7510f7;font-family:monospace;color:white;">LIBRARY</h1>-->
        <!--Book Row-->
        <div class="row my-5" id="book-row">
            <!--Single Book -->
            {% for i in books %}
            <div class="col-sm-6 col-md-3">
                <a href="{% url 'bookdetail' %}?bookid={{i.pk}}">
                    <div class="Bthree">
                        <div class="Btwo" style="background-color: #7510f7;">
                            <p class="bookName" style="font-weight:bold;font-size:1.2rem;padding-top:20px;color:white;">
                                {{ i.book_name }}
                            </p>
                            <p class="bookId" style="display:name">{{i.pk}}</p>
                            <div class="Bone">
                                <p style="margin:0;color:#204051;font-weight: 500;padding:0 2px;">
                                    {{ i.author }}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- /.container-fluid -->

{% endblock content %}