{% extends 'suser/index.html' %}
{% load static %}

{% block content %}
<!-- Custom stylesheet for Book List-->

<!--checkout :book.no_of_issued---------- check in: book.current_count -->

<link href="{% static 'suser/css/bookdetail.css' %}" rel="stylesheet">

<div class="d-sm-flex flex-column  mb-4">
    <!-- <h1 class="h1 p-3 mb-0 shadow-lg" style="background-color:#7510f7;font-family:monospace;color:white;">LIBRARY</h1>-->
    <!--Book Row-->
    <div class="row my-5 justify-content-start align-items-center" id="book-row">
        <!--Single Book -->
        <div class="col-sm-12 col-md-3">
            <div class="Bthree" style="width:300px;height:395px;">
                <div class="Btwo" style="background-color: #7510f7;width:250px;height:360px;">
                    <p style="font-weight:bold;font-size:1.2rem;padding-top:20px;color:white;">
                        {{ book.book_name }}
                    </p>
                    <div class="Bone" style="left:20%;">
                        <p style="margin:0;color:#204051;font-weight: 500;padding:0 2px;">
                            {{ book.author }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Utility Content -->
        <p id="num-book-issued" style="display:none;">{{book.no_of_issued}}</p>
        <p id="check-in" style="display:none;">{{book.current_count}}</p>
        <div class="col-sm-12 col-md-6 d-flex align-items-center">
            <!--Stats-->
            <div class="card stats  col-md-6 p-4 mr-1" style="width:300px;height:395px;">
                <h4 class="text-dark text-center">Category <span class="text-info">
                        <hr />{{ book.Book_categories}}
                    </span></h4>
                <hr />
                <h4 class="text-dark text-center"> Title<br /> <span class="text-info">
                        <hr />{{ book.book_name }}
                    </span></h4>
                <hr />
                <h4 class="text-dark text-center">Base Price:<br /><span class="text-info"><hr />${{book.base_fee}}</span>
                </h4>
            </div>
            <!-- Pie Chart -->
            <div class="card" style="width:300px;height:395px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Book Detail</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Total
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Check-In
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Check-Out
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--List-->
        <div class="col-12 my-5">
            <h3 class="text-primary" style="font-size:2.2rem;">Detail List:</h3>
            <table class="table table-bordered">

                <!--                {{ Logs }}-->
                {% if count > 0 %}

                <thead>
                    <tr>
                        <th scope="col">Sr.No</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Issued Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Returned Date</th>
                    </tr>
                </thead>
                {% else  %}
                <div class="card p-5">
                    <h2 class="text-center">No Inventory</h2>
                </div>
                {% endif %}
                <tbody>
                {% for l in Logs %}
                    {% for log in l %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ log.user_id.first_name }}</td>
                        <td>{{ log.user_id.last_name }}</td>
                        <td>{{ log.issue_day }} </td>
                        <td>{{ log.due_date}} </td>
                        {% if log.checkback is None %}
                        <td><a href="{% url 'returnB' %}?id={{log.pk}}">Return </a></td>
                        {% else %}
                        <td>{{ log.checkback }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                   
                   {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock content %}