{% extends 'suser/index.html' %}
{% load static %}

{% block content %}
<style>
    .error-label {
        display: none;
        color: red;
    }
    .alert{
        width:100%;
        margin-left:auto;
        padding:10px;
        z-index:3;
    }
</style>



<div class="row d-flex align-items-center">
    
    <div class="col-sm-12 col-md-4 shadow p-5">
        <!--Alerts to show msg -->
        <div class="alert alert-success correct" role="alert" style='display:none;'>
            A simple success alert—check it out!
        </div>
        <div class="alert alert-danger wrong" role="alert" style='display:none;'>
            A simple danger alert—check it out!
        </div>
        <form>
            {% csrf_token %}
            <div class="form-group">
                <select name="user_name" required=true id="user_name" class="form-select form-select-lg form-control"
                    aria-label="Default select example" style="width:100%;">
                    <option selected>User Name</option>
                    {% for c in user_name %}
                    <option value="{{c.pk}}">{{c.first_name}} </option>
                    {% endfor %}
                </select>
                <p class="error-label">*Select correct Username</p>
            </div>

            <div class="form-group">
                <select name="categories" required=true id="categories" class="form-select form-select-lg form-control"
                    aria-label="Default select example" style="width:100%;">
                    <option selected>Categories</option>
                    {% for c in books %}
                    <option value="{{c.pk}}">{{c.Category}} </option>
                    {% endfor %}
                </select>
                <p class="error-label">*Select Proper Category</p>
            </div>
            <div class="form-group">
                <select name="book_name" required=true id="book_name" class="form-select form-select-lg form-control"
                    aria-label="Default select example" style="width:100%;">
                    <option selected>Book Name</option>
                </select>
                <p class="error-label">*Select Correct Bookname</p>
            </div>
            <button type="button" class="btn btn-primary my-4 submit-btn" style="width:100%;">Submit</button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>


<script>
    let userName = document.getElementById('user_name')
    const submitBtn = document.querySelector('.submit-btn')
    let categories = document.getElementById('categories')
    let bookName = document.getElementById('book_name')
    const errorLabel = document.querySelectorAll('.error-label');
    const error = document.querySelector('.wrong');
    const success = document.querySelector('.correct');
    let flag = 0;
    submitBtn.addEventListener('click', (e) => {
        let user_name_verified = false;
        let categories_verified = false;
        let book_name_verified = false;
        let data = new FormData(); // 2
        console.log(userName.value + bookName.value)
        data.append('user_name', userName.value)
        //  data.append('categories',categories.value)
        data.append('book_name', bookName.value)
        console.log('h' + categories.value)
        console.log(data)
        if (userName.value == "User Name") {
            userName.style.border = "2px solid red";
            errorLabel[0].style.display = "block";
            user_name_verified = false;
        }
        else {
            userName.style.border = 'none';
            errorLabel[0].style.display = "none";
            user_name_verified = true;
        }
        if (categories.value == "Categories") {
            categories.style.border = "2px solid red";
            errorLabel[1].style.display = "block";
            categories_verified = false;
        }
        else {
            categories.style.border = "none";
            errorLabel[1].style.display = "none";
            categories_verified = true;
        }
        if (bookName.value == "Book Name" && flag == 1) {
            bookName.style.border = "2px solid red";
            errorLabel[2].style.display = "block";
            book_name_verified = false;
        }
        if (bookName.value == "Book Name" && flag == 0) {
            bookName.style.border = "2px solid red";
            errorLabel[1].style.display = "block";
            errorLabel[1].innerHTML = 'No Books in this Category';
            book_name_verified = false;
        }
        else if (bookName.value != "Book Name" && flag == 1) {
            bookName.style.border = "none";
            errorLabel[2].style.display = "none";
            book_name_verified = true
        }

        if (book_name_verified && user_name_verified && categories_verified) {
            data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3
            axios.post('/api/checkout/', data) // 4
                .then(res => {
                    console.log(res);
                    userName.value = 'User Name'
                    bookName.value = "Book Name"
                    categories.value = "Categories"
                    if (res.data.status == 100) {
                        success.innerHTML='Congrats! You Successfully Purchased the book'
                        success.style.display='block';
                        setTimeout(()=>{
                          success.style.display='none';
                        },3000)
                    }
                    else {
                       error.innerHTML=res.data.message;
                       error.style.display='block';
                       setTimeout(()=>{
                          error.style.display='none';
                        },3000)
                    }

                }
                ) // 5
                .catch(errors => console.log(errors)) // 6
        }
    })

    bookName.style.display = 'none';
    categories.addEventListener('change', (e) => {
        console.log(categories.value)
        let data = new FormData(); // 2
        data.append('Category', categories.value)
        data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3
        console.log(data)
        axios.post('/api/getbook/', data) // 4
            .then(res => {
                console.log(res);
                if (res.data.message == 'No Books in this category.') {
                    console.log("no");
                    errorLabel[1].style.display = "block";
                    errorLabel[1].innerHTML = 'No Books in this category.';
                    bookName.style.display = 'none';
                    flag = 0;
                }
                else {
                    console.log("yes")
                    errorLabel[1].style.display = "none";
                    bookName.style.display = 'block';
                    flag = 1;
                    bookName.innerHTML='<option selected>Book Name</option>'
                    res.data.payload.map(item =>
                        bookName.innerHTML += `<option value="${item.pk}">${item.book_name} </option>`
                    );
                }
            }
            ) // 5
            .catch(errors => console.log(errors))
    })
</script>

{% endblock %}