{% extends 'suser/index.html' %}
{% load static %}

{% block content %}
<style>
    .error-label{
        display:none;
    }
</style>

    {% if messages %}
        {% for message in messages %}
            <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
        {% endfor %}
    {% endif %}
    <!-- Modal For Success -->
    <!-- Button trigger modal -->
  <button style="display:none;" type="button" class="btn btn-primary modal-btn" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Successful</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You Successfully Purchased the Book
        </div>
      
      </div>
    </div>
  </div>
    <hr>

   <div class="row d-flex align-items-center">
       <div class="col-sm-12 col-md-4 shadow p-5">
            <form>
        {% csrf_token %}
        <div class="form-group">
            <select name="user_name" required=true id="user_name" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>User Name</option>
                {% for c in user_name %}
                        <option value="{{c.pk}}">{{c.first_name}} </option>
                {% endfor %}
            </select>
            <p class="error-label">*Select correct Username</p>
        </div>
        <div class="form-group">
         <select name="categories" required=true id="categories" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Categories</option>
                {% for c in books %}
                        <option value="{{c.Category}}">{{c.Book_categories.Category}} </option>
                {% endfor %}
            </select>
            <p class="error-label">*Select Proper Category</p>
        </div>
        <div class="form-group">
         <select name="book_name" required=true id="book_name" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Book Name</option>
                {% for c in books %}
                        <option value="{{c.book_name}}">{{c.book_name}} </option>
                {% endfor %}
            </select>
            <p class="error-label">*Select Correct Bookname</p>
        </div>
        <button type="button" class="btn btn-primary my-4 submit-btn" style="width:100%;">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>


 <script>
     let userName = document.getElementById('user_name')
     const submitBtn = document.querySelector('.submit-btn')
     let categories = document.getElementById('categories')
     let bookName = document.getElementById('book_name')
     const errorLabel = document.querySelectorAll('.error-label');
     const modalBtn= document.querySelector('.modal-btn');
     let modalBody = document.querySelector('.modal-body');
     submitBtn.addEventListener('click',(e)=>{
         let count=0;
     let data = new FormData(); // 2
     console.log(userName.value)
     data.append('user_name',userName.value)
     data.append('categories',categories.value)
     data.append('book_name',bookName.value)
     if(userName.value == "User Name"){
         userName.style.border="2px solid red";
         errorLabel[0].style.display="block";
         count++;
     }
     else{
        userName.style.border='none';
         errorLabel[0].style.display="none";
         count--;
     }
     if(categories.value == "Categories"){
         categories.style.border="2px solid red";
         errorLabel[1].style.display="block";
         count++;
     }
     else{
        categories.style.border="none";
         errorLabel[1].style.display="none";
         count--;
     }
     if(bookName.value == "Book Name"){
         bookName.style.border="2px solid red";
         errorLabel[2].style.display="block";
         count++;
     }
     else{
        bookName.style.border="none";
         errorLabel[2].style.display="none";
         count--;
     }
      
     if(count<=0){
     data.append("csrfmiddlewaretoken", '{{csrf_token}}') // 3
     axios.post('/api/checkout/', data) // 4
     .then(res => 
     {console.log(res);
        userName.value='User Name'
        bookName.value="Book Name"
        categories.value="Categories"
        if(res.data.status==100){
            modalBtn.click();
            modalBody.innerHTML=''
            modalBody.innerHTML+='Congrats You Successfully Purchased the book'
        }
        else{
            modalBtn.click();
            modalBody.innerHTML=''
            modalBody.innerHTML+='Error!!!, Book Checkout Cancelled'
        }
      
    }
     ) // 5
     .catch(errors => console.log(errors)) // 6
    }
     })
  
 </script>  

{% endblock %}
