{% extends 'suser/index.html' %}
{% load static %}
{% block content %}
  
   <div class="row d-flex align-items-center justify-content-center">
       <div class="col-sm-12 col-md-6 shadow p-5">
            <form action = "{% url 'Bookcheckout' %} " method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="user_name" required=true id="user_name" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>User Name</option>
                {% for c in user_name %}
                        <option value="{{c.first_name}}">{{c.first_name}} </option>
                {% endfor %}
            </select>
        </div>
        <!-- <div class="form-group">
            <select name="categories" required=true id="categories" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Categories</option>
                {% for c in books %}
                        <option value="{{c.Category}}">{{c.Book_categories.Category}} </option>
                {% endfor %}
            </select>
        </div> -->
        <div class="form-group">
            <select name="book_name" required=true id="book_name" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Book Name</option>
                {% for c in books %}
                        <option value="{{c.book_name}}">{{c.book_name}} </option>
                {% endfor %}
            </select>
        </div>  
        <!-- <div class="form-group">
            <select name="book_name" required=true id="book_name" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Total Book Available</option>
                {% for c in books %}
                        <option value="{{c.current_count}}">{{c.current_count}} </option>
                {% endfor %}
            </select>
        </div>  -->
        <!-- <div class="form-group">
            <label for="book_id">Total Book Available</label>
            {% for c in books %}
                <input type="text" value="{{c.current_count}}" class="form-control bid" id="{{c.current_count}} " name="{{c.current_count}} "  placeholder="Book Id">
            {% endfor %}
        </div> -->
        
        <!-- <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" required=true class="form-control" id="author" name="author" placeholder="author">
        </div>
        <div class="form-group">
            <label for="date">Publish Date</label>
            <input type="date" required=true name="publish_date" class="form-control" id="date" placeholder="publish date">
        </div>
        <div class="form-group">
            <label for="fee">Base Fee</label>
            <input type="number" required=true id="fee" class="form-control" name="base_fee" placeholder="base_fee">
        </div>
        <div class="form-group">
            <label for="count">Current Count</label>
            <input type="number" required=true class="form-control" id="count" name="current_count" placeholder="current_count">
        </div> -->
        <!-- <div class="form-group">
            <label for="categories">Category</label>
            <select name="categories" required=true id="categories" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                <option selected>Categories</option>
                {% for c in categories %}
                        <option value="{{c.Category}}">{{c.Category}} </option>
                {% endfor %}
            </select>
            <p class="my-3 text-danger display-5">*Not in the List add yours  
                <a class="btn btn-dark float-right" type="button"  data-toggle="modal" data-target="#exampleModal">
                    Add New Category
                </a>
            </p>
        </div> -->
       
        <button type="submit" class="btn btn-primary my-4" style="width:100%;">Submit</button>
            </form>
        </div>
    </div>

    <!--Modal for Book Category -->
    <!-- Button trigger modal -->

  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action = " {% url 'category' %}" method="post">
                {% csrf_token %}
               <div class="form-group">
                    <label for="new_category"> Enter Category</label>
                    <input type="text" class="form-control" id="new_category" name="category" placeholder="Category">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        
      </div>
    </div>
  </div> -->

{% endblock %}
