{% extends 'suser/index.html' %}
{% load static %}
{% block content %}
<style>
  .msg {
    color: red;
    font-size: 14px;
    margin-bottom: 0px;
  }

  .view-password {
    display: none;
  }

  #form-card {
    display: none;
  }
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <a href="{% url 'register' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-100"></i> Create User</a>


</div>
<!-- Utility Content -->
<p id="num-book-issued" style='display:none;'>{{issued}}</p>
<p id="check-in" style='display:none;'>{{returned}}</p>
<!--Graphs -->
<div class='row'>
  <div class="col-sm-12 col-md-8">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Past Non-Returned books</h6>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
          
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- Pie Chart -->
    <div class="card">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Books Info</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPieChart"></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Check-In
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Check-Out
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class='col-sm-12 col-md-8'>
    <!-- Bar Chart -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Past 7 days Check-In and Check-Out</h6>
      </div>
      <div class="card-body">
        <div class="chart-bar">
          <canvas id="myBarChart"></canvas>
        </div>
       </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <!-- Pie Chart -->
    <div class="card">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Top 5 Purchase Books</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="pie-chart"></canvas>
        </div>
        <!-- <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Date
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Count
          </span>
        </div> -->
      </div>
    </div>
  </div>

</div>
{% endblock content %}