{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'suser/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href=" {% static 'suser/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        .msg{
            color:red;
            font-size:14px;
            margin-bottom:0px;
          }
          .view-password{
              display:none;
          }
    </style>
</head>


<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="{% static 'suser/img/sign.png' %}" style="width:100%;margin-top:50px;">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form action="{% url 'register' %}" method="POST" class="user">
                                 {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {% if message is not None %}
                                        <input name="first_name" type="text" required class="form-control form-control-user" id="exampleFirstName" value={{first_r}}
                                            placeholder="First Name">
                                        {% else %}
                                        <input name="first_name" type="text" required class="form-control form-control-user" id="exampleFirstName" 
                                        placeholder="First Name">
                                         {% endif %}   
                                        
                                    </div>
                                    <div class="col-sm-6">
                                        {% if message is not None %}
                                        <input value={{last_r}} name="last_name" type="text" required class="form-control form-control-user" id="exampleLastName"
                                        placeholder="Last Name">
                                        {% else %}
                                        <input name="last_name" type="text" required class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name">
                                         {% endif %}  
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    {% if message is not None %}
                                    <input value={{email_r}} id="email-field" name="email" type="email" required class="form-control form-control-user" id="exampleInputEmail"
                                    placeholder="Email Address">
                                    {% else %}
                                    <input  id="email-field" name="email" type="email" required class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                     {% endif %}  
                                    
                                    {% if message is not None %}
                                    <style>
                                        #email-field{
                                            border:1px solid red;
                                        }
                                    </style>
                                      <label class="msg">*{{message}}</label>
                                {% endif %}   
                                </div>
                                <div class="form-group">
                                    <select name="role" class="form-select form-select-lg form-control" aria-label="Default select example" style="width:100%;">
                                        <option selected>User Type</option>
                                        <option value="student">Student</option>
                                        <option value="admin">Admin</option>
                                        <option value="librarian">Librarian</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 d-flex align-items-center">
                                        <input name="password" minlength="8" type="password" required class="password form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password">
                                        <i type="button" class="fa fa-eye-slash disclose-password" aria-hidden="true" style="margin-left:-30px;"></i>
                                        <i type="button" class="fa fa-eye view-password" aria-hidden="true" style="margin-left:-30px;"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="confirm_password" type="password" required class="password form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                    <label id="error-tooltip" style="font-size:12px;display:none;color:red;margin-top:10px;margin-left:5%;">*Password & Confirm Passowrd don't match</label>
                                </div>
                                <button type="submit" id="submit-btn" class="shadow btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <!-- <hr> -->
                                <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a> -->
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'suser/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'suser/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'suser/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'suser/js/sb-admin-2.min.js' %}"></script>
    <script>
        const password = document.querySelectorAll(".password")
        const submitBtn = document.getElementById("submit-btn")
        const errotTip = document.getElementById("error-tooltip")
        console.log(password[0])
       
        submitBtn.addEventListener("click",(e)=>{
            if(password[0].value!=password[1].value){
                password[1].borderColor="red"
                submitBtn.disabled=true;
                submitBtn.style.background="gray";
                password[1].style.borderColor="red"
                password[0].style.borderColor="red"
                errotTip.style.display="block";
            }
        })
        for(let i=0;i<password.length;i++){
        password[i].addEventListener("keyup",(e)=>{
           if(password[0].value===password[1].value){
               submitBtn.disabled=false;
               submitBtn.style.background="#0275d8";
               password[1].style.borderColor="lightgray"
                password[0].style.borderColor="lightgray"
                errotTip.style.display="none";
           }
        })
    }

    /* Password */
    const viewPasswordBtn = document.querySelector('.view-password');
    const disclosePasswordBtn = document.querySelector('.disclose-password');
   
    const flag=0;
    disclosePasswordBtn.addEventListener('click',(e)=>{
        console.log("clicked")
        password[0].type='text';
        password[1].type='text';
        disclosePasswordBtn.style.display="none";
        viewPasswordBtn.style.display="block";
    })

    viewPasswordBtn.addEventListener('click',(e)=>{
        password[0].type='password';
        password[1].type='password';
        viewPasswordBtn.style.display="none";
        disclosePasswordBtn.style.display="block";

    })
    </script>

</body>

</html>