{% extends 'suser/index.html' %}
{% load static %}

{% block content %}
<div class='profile-card shadow p-5 mb-5'>
    <div class='row'>
    <div class='col-sm-12 col-md-3'>
        <img  src="{% static 'suser/img/undraw_profile.svg' %}" style='width:50%;' class="card-img-top mx-auto" alt="...">
    </div>
    <div class='col-sm-12 col-md-6'>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{userq.email}}</th>
                <td>{{userq.first_name}}</td>
                <td>{{userq.last_name}}</td>
             </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<table class="table mt-5 shadow display" id="example" style="width:100%">
    <thead>
         <tr>
             <th>Transaction ID</th>
             <th>Book Name</th>
             <th>Issued Date</th>
             <th>Due Date</th>
             <th>Fee</th>
             <th>Returned Date</th>
         </tr>
     </thead>
     <tbody>
         <!--                {{ Logs }}-->
         {% for log in booksu %}
         <tr>
             <td>{{ log.Transaction }}</td>
             <td>{{ log.book_inventry.book.book_name }}</td>
             <td>{{ log.issue_day }} </td>
             <td>{{ log.due_date}} </td>
             <td> {{ log.cal }}</td>
             {% if log.checkback is None %}
             <td class="before_checkback text-danger">
                 Not Returned
            </td>
              
             {% else %}
             <td>{{ log.checkback }}</td>
             {% endif %}
         </tr>
         {% endfor %}

     </tbody>
     
 </table>

{% endblock %}